.parent-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 300px repeat(2, 1fr) 400px 100px 25px;
}
.child-grid{
    display: inline-grid;
}
body{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}
header{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 80px 1fr;
    grid-column: 1 / 6;
    grid-row: 1;
    align-items: center;
}h1{
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 3em;
    grid-row: 1;
    grid-column: 1 / 4;
    text-align: center;
    font-family: 'Give You Glory', cursive;
}h3{
  font-size: 1.5em;
  grid-row: 2;
  grid-column: 2/3;
  text-align: center;
}
#description{
    grid-column: 1/6;
    grid-row: 2;
    grid-template-columns: repeat(2, 1fr);
    font-size: 24px;
}#description :nth-child(1){
    text-align: center;
    align-self: center;
}.img-container{
    position: relative;
    width: 100%;
    height: 300px;
    z-index: 2;
}.img-container img{
    position: absolute;
    margin-top: 20px;
    max-width: 100%;
    height: 300px;
    border-radius: 20px;
    display: block;
    margin-left: 20%;
    -webkit-box-shadow: 14px 22px 21px -6px rgba(0,0,0,0.36);
    -moz-box-shadow: 14px 22px 21px -6px rgba(0,0,0,0.36);
    box-shadow: 14px 22px 21px -6px rgba(0,0,0,0.36);
}
#skills{
    grid-column: 1/6;
    grid-row: 3;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(154deg, #A8FFFC, #FF9361);
    align-items: center;
}#skills p{
    text-align: center;
    line-height: 4em;
    font-size: 24px;
    font-weight: bolder;
}
#html{
    grid-column: 2;
    grid-row: 2;
}
#css{
    grid-column: 3;
    grid-row: 3;
}
.skill{
    opacity: 0;
}
#bio{
    grid-column: 1 / 6;
    grid-row: 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
}#bio :nth-child(2){
    grid-column: 2;
    grid-row: 2;
    text-align: center;
    z-index: 2;
    background-color: rgba(255,255,255,0.7);
}#bio :nth-child(1){
    grid-column: 1/4;
    grid-row: 1/4;
}
#showcase{
    background: linear-gradient(154deg, #A8FFFC, #FF9361);
    grid-column: 1 /6;
    grid-row: 5;
    height: 400px;
}
#contact{
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 25px;
    grid-column: 1/6;
    grid-row: 6;
}
#contact :nth-child(4){
    color: pink;
    grid-column: 2/2;
    grid-row: 7;
    justify-content: center;
}

#github a{
    display: block;
    width: 120px;
    height: 30px;
}
#particles-js{
    background-color: #fff;
}
